<headline class = "article"><%= @article.title.titleize %></headline>
<div class = "clear"></div>
<hr>
<div style = "font-size:14px; padding:15px;" ><%= image_tag @author.avatar(:thumb), style: "vertical-align:middle" %> by <%= link_to @author.name.titleize, @author %></div>
<div class = "article-text"> 
	<%= image_tag @article.mainImage(:main), class: "centered" if @article.mainImage.present? %>
	<%= raw @article.body  %>
</div>
<% if logged_in? %>
	<% if @article.published %>
		this article is live
	<% else %>
		this article is a draft
	<% end %>
	<br>
	<%= link_to 'edit', edit_article_path(@article) %> | 
	<%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'bathshebas'; // your forum shortname

        /* * * DON'T EDIT - DISQUS CODE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    