<div class = "user_edit_left">

	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
		<h3>contact email/login</h3>
	    <%= f.text_field :email, {placeholder: "email"} %>
	  </div>
	  <div class="field">
		<h3>name</h3>
	    <%= f.text_field :name, {placeholder: "full name"} %>
	  </div>
	  <div class="field">
		<h3>profile pic</h3>
	  	<%= f.file_field :avatar %> </br>
		<%= image_tag @user.avatar.url(:thumb) if @user.avatar.present? %>
	  </div>
	  <div class="field">
		<h3>bio</h3>
	    <%= f.text_area :bio, {placeholder: "bio (max one paragraph, ~150 words)"} %>
	  </div>
	  <div class="field">
	  	<h3>twitter handle</h3>
	    <%= f.text_field :twitter, {placeholder: "twitter handle"} %>
	  </div>
	  <div class="field">
		<h3>password</h3>
	    <%= f.password_field :password, {placeholder: "password"} %>
	    <%= f.password_field :password_confirmation, {placeholder: "repeat password"} %>
	  </div>
	  <div class="actions">
	    <%= f.submit @user.id.blank? ? "add" : "update" %>
	  </div>
	<% end %>

</div>

<div class = "user_edit_right">
	<h2><%= @author.name + "'s articles" %></h2>
	<% monthYear = "" %>
	<% @articles.each do |article| %>
		<% if monthYear != article.created_at.to_formatted_s(:month_year)%>
			<% monthYear = article.created_at.to_formatted_s(:month_year) %>
			<h3><%= monthYear %></h3>
		<% end %>
		<h3><%= link_to article.title, article %></h3>
		<% if @author.id == @author.id %>
			 <% if article.published %>
			 	LIVE
			<% else %>
				DRAFT
			<% end %>
			// <%= link_to "edit", edit_article_path(article) %>
		<% end %>
		<br>
	<% end %>
	
</div>