<%= form_tag user_sessions_path, :method => :post do %>
		<%= label(:post, :email) %>
		<br>
		<%= text_field_tag :email, "", class: 'login-field' %>
	<br>
		<%= label(:post, :pass) %>
		<br>
		<%= password_field_tag :password, "", class: 'login-field' %>
	<p>
    <%= submit_tag "Login" %>
 </p>
<% end %>